footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

#sign-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

.sign-form {
  width: 50%;
  margin: 5em 2em;
}

.sign-form h3 {
  margin-bottom: 1em;
}

.title {
  margin-bottom: 2em;
  margin-top: 1em;
}

.subtitle {
  margin-bottom: 1em;
}

#albums-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
}

.album-block-content a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  background-color: black;
  border-radius: 3px;
}

.album-block-content {
  padding: 1.5em 0;
  border-bottom: solid 1px black;
  justify-content: center;
  margin-top: 1em;
}

.album-block-title span {
  font-size: 0.80em;
  font-weight: 400;
}

.album-block-title {
  width: 375px;
}

.album-block-content .cta {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

#album-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#album-content a {
  text-decoration: none;
  color: white;
  padding: 0.5em 1em;
  background-color: black;
  border-radius: 3px;
  margin-top: 1em;
}

#album-content h1 {
  font-size: 2em;
  margin-bottom: 1rem;
}

#album-content h2 {
  font-size: 1.5em;
  margin-bottom: 2rem;
}

#error-cart {
  font-size: 1.5em;
  color: red;
  font-weight: 500;
}

.album-cart-block a {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 3px;
}

.album-cart-block .cta {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.album-cart-block {
  padding: 1.5em 0;
  border-bottom: solid 1px black;
  justify-content: center;
  margin-top: 1em;
}

.album-cart-block-title span {
  font-size: 0.80em;
  font-weight: 400;
}

.album-cart-block-title {
  width: 375px;
}

#clearCart-button {
  margin-top: 2em;
}

.album-form {
  width: 50%;
  margin: auto;
}

#album-delete-admin {
  background-color: #dc3545;
}